body {
    min-height: 100vh;
    background: rgb(5, 0, 64);
}
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow-x: hidden;    
    background: linear-gradient(20deg, rgba(5, 0, 64, 1) 60%, rgba(73, 9, 147, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    .work-img {
        position: relative;
        right: -20px;
        width: 38rem;
        float: left;
    }
    .line {
        position: relative;
        top:-.1vw;
        right: 130px;
        width: 30rem;
    }
}
