html {
    h1 {
        font-size: clamp(2rem, 5vw, 3.75rem);
    }
    h2 {
        font-size: clamp(1.75rem, 5vw, 2.5rem);
    }
    h6 {
        font-size: clamp(0.85rem, 1.25vw, 1.25rem);
    }
    p {
        font-size: clamp(0.85rem, 1vw, 1rem);
    }
    & > * {
        color: #fff;
        font-family: "Jost", sans-serif;
    }
    .logo {
        width: clamp(8rem, 22vw, 15rem);
    }
    .btn {
        background-color: #7423f7;
        border: none;
        padding: 0.55rem 1.5rem;
        border-radius: 30px;
        font-weight: 600;
        font-size: clamp(.85rem, 1.5vw, 1.2rem);
    }
    .navbar {
        transition: all .3s;
        .navbar-toggler {
            border: none;
            &:focus {
                box-shadow: none;
            }
        }
        .navbar-collapse ul {
            gap: 3rem;
            font-size: 1.25rem;
        }
    }
    .services {
        p {
            font-size: clamp(0.85rem, 2.5vw, 1.25rem);
        }
    }
}
